@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="EmpApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-route.min.js"></script>
    <script src="~/js/app/app.js"></script>
    <script src="~/js/app/controller.js"></script>

</head>
<body>
    <div class="main container" ng-view></div>
</body>
</html> 